.main_productos {
  margin-left: 400px;
  height: 100%;
  size: 100%;
  background-color: red;
  color: black;
  overflow: auto; /* Permite que el contenido principal haga scroll si es necesario */
}
.contenedor_productos{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 1rem;
    padding: 0.5rem;
  }

.main_productos h1{
  padding-left: 20px;
}