.main_productos {
  position: relative;
  transform: translateX(400px);
  height: 100%;
  width: calc(100vw - 400px);
  padding: 45px;
  padding-top: 0;
  background-color: rgb(175, 175, 175);
  color: black;
  overflow: auto; /* Permite que el contenido principal haga scroll si es necesario */
}
.contenedor_productos{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 1rem;
    padding: 0.5rem;
  }